<style>
  html, body {
    margin: 10;
    padding: 0;
    height: 100%;
  }

  header {
    background: #5d5d5d;
    padding: 10px;
  }

  main {
    min-height: 100%;
    position: relative;
  }

  footer {
    background: #5d5d5d;
    color: white;
    padding-left: 5px;
    height: 142px;
    position: absolute;
    width: 100%;
  }

  footer a {
    color: white;
  }

  footer a:hover {
    color: aqua;
  }

  footer a:visited {
    color: goldenrod;
  }

  p {
    font-family: Segoe UI, Arial, sans-serif;
    color: black
  }
</style>