<style>
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  clear: both; 
  }

/* Generic Styles */
p, ul, ol, li {
  font-family: 'Roboto', sans-serif;
  color: black
}

h1 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: black;
  }

h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: black
}

main { padding: .25em .75em; }

/* Start Header Styles */
header {
  background-image: url("images/headergraphic.png");
  background-color: rgb(3,5,9); 
  padding: 10px; 
  clear: both;
  }

ul.headernav {
  list-style-type: none;
  margin: 0;
  padding:  0 .6em;
  overflow: hidden;
  background: #4b2e83;
  background-image: linear-gradient(#241640, #4b2e83);
}

ul.headernav li {float: left}

ul.headernav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: .5em .7em;
  text-decoration: none;
  font-size: 1.25em;
}

ul.headernav li a:hover {color: #85754d; }

/* Begin Footer Styles */
footer {
  background-color: #4b2e83;
  background-image: linear-gradient(#4b2e83, #241640);
  color: white;
  padding: .25em 0em;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  clear: both;
  text-align: center;
  height: 142px;
  bottom: 0;
  width: 100%;
  }

footer a { color: white; }

footer a:hover {color: #85754d; }

/* Start Footer Contact Info Styles */

ul.footercontact {
  list-style-type: none;
  margin: 0;
  padding:  0 .3em;
  overflow: hidden;
  display: inline-block;
}

ul.footercontact li {float: left}

ul.footercontact li a {
  display: inline-block;
  padding: .5em .3em;
  text-decoration: none;
  text-align: center;
}

/* Start Footer Nav Styles */
ul.footernav {
  list-style-type: none;
  margin: 0;
  padding:  0 .3em;
  overflow: hidden;
  display: inline-block;
}

ul.footernav li {float: left}

ul.footernav li a {
  display: inline-block;
  padding: .5em .3em;
  text-decoration: none;
  text-align: center;
}

.footernav li:after {
  content: "/";
  color: white;
}

.footernav li:last-child:after { content: ""; }

.footertext { 
  color: white;
  text-align: center;
}

/* Float figures */
figure { float: left; }

/* Figcaption Style */
figcaption { font-family: 'Roboto', sans-serif; }

</style>